default:
  web:
    base_url: http://127.0.0.1:3000
    h5_base_url: http://127.0.0.1:5174
    navigation_timeout_ms: 15000
    action_timeout_ms: 8000
    headless: true
    viewport_width: 1440
    viewport_height: 900
  accounts:
    admin:
      username: ""
      password: ""
    mobile_customer:
      phone: ""
